.dice-cont {
    display: flex;

}

.dice {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .25)
}

.dice-dot {
    --top: 0%; /* allows for changing in js*/
    --left: 0%; /*so that we can have different numbers*/

    background-color:rgb(0, 0, 0);
    width: 15px;
    height: 15px;
    border-radius: 50%;

    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1)) /*centers the dot*/

}

.roll-dice-button {
    margin-top: 10px;

    /*customize thissss*/
}

.move-player-button {
    margin-top: 10px;

    /*customizeee*/
}

.red-card {
    width: 100px;
    height: 150px;
    background-image: url('assets/back-of-card/red-back-card.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #d57475; 
    border-radius: 10px;
    margin: 10px;
}

.blue-card {
    width: 100px;
    height: 150px;
    background-image: url('assets/back-of-card/blue-back-card.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #00ccffff;
    border-radius: 10px;
    margin: 10px;
}

.green-card {
    width: 100px;
    height: 150px;
    background-image: url('assets/back-of-card/green-back-card.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #28c900ff;
    border-radius: 10px;
    margin: 10px;
}

.yellow-card {
    width: 100px;
    height: 150px;
    background-image: url('assets/back-of-card/yellow-back-card.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #ffde59;
    border-radius: 10px;
    margin: 10px;
}

.big-red-card {
    width: 200px;
    height: 300px;
    background-color: #d57475;
    border-radius: 10px;
    margin: 10px;
}

.big-blue-card {
    width: 200px;
    height: 300px;
    background-color: #00ccffff;
    border-radius: 10px;
    margin: 10px;
}

.big-green-card {
    width: 200px;
    height: 300px;
    background-color: #28c900ff;
    border-radius: 10px;
    margin: 10px;
}

.big-yellow-card {
    width: 200px;
    height: 300px;
    background-color: #ffde59;
    border-radius: 10px;
    margin: 10px;
}

.close-card {
    margin: 10px;
}

.restart-button {
    margin-top: 10px;

    /*customize thissss*/
}