.dice-cont {
    display: flex;

}

.dice {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .25)
}

.dice-dot {
    --top: 0%; /* allows for changing in js*/
    --left: 0%; /*so that we can have different numbers*/

    background-color:rgb(0, 0, 0);
    width: 15px;
    height: 15px;
    border-radius: 50%;

    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1)) /*centers the dot*/

}

.roll-dice-button {
    margin-top: 10px;

    /*customize thissss*/
}

.move-player-button {
    margin-top: 10px;

    /*customizeee*/
}